html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.app {
  max-width: 51em;
  margin: 0 auto;
}

.header {
}
.header .tools {
  display: flex;
  padding: 0.5em;
  color: hsl(0, 0%, 42%);
  fill: hsl(0, 0%, 42%);
}
.header .tools h1 {
  flex: 1 1 auto;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}
.header .tools h1 a {
  text-decoration: none;
}
.header .tool {
  padding: 1em 0;
}
.header .tool h3 {
  margin: 0 0 0.5em;
}

.export-box {
  width: 100%;
  height: 8em;
}
.setting-line {
  display: flex;
}
.setting-line label {
  align-self: center;
}
.setting-line input {
  width: 3em;
  padding-left: 0.5em;
}
.setting-line button {
  padding: 0.5em 1em;
  margin-left: 1em;
}
.sample-projects {
  display: flex;
}
.sample-project {
  margin-left: 0.5em;
  padding: 0.5em 1em;
}

.query {
  margin: 0.5em 0;
}

.footer {
  font-size: 0.8em;
  margin-top: 3em;
  padding: 0.5em;
  text-align: center;
  color: hsl(0, 0%, 40%);
  fill: hsl(0, 0%, 40%);
  background: hsl(0, 0%, 90%);
}
.footer a {
  color: inherit;
  fill: inherit;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.5em 0.5em 0.5em 1em;
}
.task-duration {
  width: 6em;
}
.task-deleted .task-duration {
  text-decoration: line-through;
}
.task-duration-value {
  font-weight: bold;
}
.task-project {
  width: 8em;
}
.task-summary {
  flex: 1 1 auto;
}
.task-form label {
  display: block;
}
.task-form input {
  width: calc(100% - 1em);
}
.task-form-edit label {
  display: none;
}
.task-form-edit-buttons {
  align-self: flex-end;
  white-space: nowrap;
}

.task-list,
.task-list-item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.task-list-item {
  margin: 0.5em 0;
  background: hsl(0, 0%, 95%);
}


/* attribute-oriented */

.button {
  margin: 0;
  padding: 0.1em 0.3em;
  font: inherit;
  text-decoration: none;
  color: hsl(0, 0%, 50%);
  fill: hsl(0, 0%, 50%);
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.3em;
  background: transparent;
  cursor: pointer;
}
.button.inverse,
.button:hover {
  color: hsl(0, 0%, 100%);
  fill: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 50%);
}
.button.accent {
  border-color: hsl(280, 50%, 50%);
}
.button.accent.inverse,
.button.accent:hover {
  background: hsl(280, 50%, 50%);
}
.button.woo {
  border-color: hsl(160, 50%, 50%);
}
.button.woo.inverse,
.button.woo:hover {
  background: hsl(160, 50%, 50%);
}
.button.caution {
  border-color: hsl(350, 60%, 50%);
}
.button.caution.inverse,
.button.caution:hover {
  background: hsl(350, 60%, 50%);
}
.button.bare {
  border: none;
}


.accent {
  color: hsl(280, 50%, 50%);
  fill: hsl(280, 50%, 50%);
}
.woo {
  color: hsl(160, 50%, 50%);
  fill: hsl(160, 50%, 50%);
}
.caution {
  color: hsl(350, 60%, 50%);
  fill: hsl(350, 60%, 50%);
}


/* transform */
.hide-sep {
  display: inline-block;
  width: 0.3em;
  color: transparent;
}


/* typo */

h3 small {
  font-weight: normal;
}


/* icons */
.icon {
  height: 1em;
  width: 1em;
}
